<nb-card class="w-75 mx-auto" status='danger'>

  <nb-card-header>
    <h6 class="text-light">Angular</h6>
    <span class="float-right">
      <button nbButton (click)="close()" class='bg-dark' size='small' (click)="goToProjectPage(library)">View on
        Github</button>
    </span>

    <div class="d-flex align-items-center text-light">
      <h4 class="text-light">{{library.name}}</h4>
      <span class=" ml-2"> v{{library.version}}</span>
      <span class=" ml-1"> Last updated at {{library.last_updated}}</span>
      <span class=" ml-2"> by {{library.by}}</span>
    </div>

    <div class="text-light mt-2">
      <i class="icon ion-md-heart ">
        <span>{{library.stars | slangNo}}</span>
      </i>
      <i class="icon ion-md-download ">
        <span>{{library.downloads | slangNo}}</span>
      </i>
    </div>

  </nb-card-header>

  <nb-card-body class="w-75 mx-auto my-5">
    {{markdown}}
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus dolores, molestias iste sit distinctio quaerat saepe
    doloremque mollitia iure. Fuga et cumque labore officiis earum quod eius tenetur. Ex incidunt nesciunt esse dolores
    repellendus reiciendis, dolorem omnis temporibus quos fugit reprehenderit illo quidem nam alias doloremque
    voluptatibus adipisci. Qui deserunt nulla quas. Perspiciatis, explicabo? Eius et laborum quis rem distinctio ipsa
    maiores saepe qui inventore eligendi veritatis quae nisi, cumque ducimus. Repudiandae incidunt asperiores
    blanditiis. Voluptates dolorem quos excepturi cum cupiditate in rem libero ducimus error nisi sit corporis quisquam
    sunt natus magnam ut velit cumque, deserunt rerum sapiente, harum obcaecati corrupti. Non qui quia officia quis
    tempora, beatae autem quod maiores, inventore nobis corrupti omnis iste adipisci totam voluptate.
  </nb-card-body>
  <nb-card-footer>
    <button nbButton (click)="close()" status='danger' size='small'>Close</button>
  </nb-card-footer>
</nb-card>