<nb-layout>
  <nb-layout-header fixed>
    <!-- <h1 class="text-center">Angular Hub</h1> -->

    <input status="primary" fieldSize="large" #text nbInput [(ngModel)]='searchQuery'
      (keyup.enter)="getSearchQuery(text.value)" placeholder="Search for your favourite Angular libraries here"
      class="w-75 mx-auto shadow-sm border ">

  </nb-layout-header>

  <nb-sidebar tag="right">
    <app-sidebar (currParamsEvent)='getCurrParams($event)'></app-sidebar>
  </nb-sidebar>


  <nb-layout-column class="colored-column-warning">
    <div *ngFor="let item of items">
      <app-library></app-library>
    </div>
  </nb-layout-column>

  <nb-layout-footer></nb-layout-footer>
</nb-layout>