<nb-layout>
  <nb-layout-header fixed class="shadow-sm ">
    <h4 class="text-center mt-1 w-50 text-danger">AngularHub.io
      <br>
      <span class="text-muted ">The portal for all best and most angular libraries, frameworks, utilities
        etc...
      </span>
    </h4>

    <input status="primary" fieldSize="large" #text nbInput [(ngModel)]='searchQuery'
      (keyup.enter)="getSearchQuery(text.value)" placeholder="Search for your favourite Angular libraries here"
      class="w-50 mx-auto shadow-sm border ">

  </nb-layout-header>

  <nb-sidebar tag="right" style="margin-top: 5rem">
    <app-sidebar (currParamsEvent)='getCurrParams($event)'></app-sidebar>
  </nb-sidebar>


  <nb-layout-column class="colored-column-warning" style="margin-top:4.5rem">
    <div *ngFor="let item of items ">
      <app-library></app-library>
    </div>


  </nb-layout-column>

  <nb-layout-footer>
    <a [routerLink]="[ '/submit-package' ]" class="text-primary">Submit Package</a>

    <a href="" target="_blank" class="ml-2">
      <i class="icon ion-logo-twitter text-muted"></i>
    </a>

    <a href="" target="_blank">
      <i class="icon ion-logo-github text-muted "></i>
    </a>

  </nb-layout-footer>
</nb-layout>